@import "../../../constants/constants";

.toggle {
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-flex;
  position: relative;
  border-radius: 50px;
  cursor: pointer;
  background-color: $primary-white;
  transition: background-color ease 0.5s;
  margin: 0;

  &:before {
    background: $primary-red;
    content: "";
    color: $primary-white;
    display: inline-flex;
    position: relative;
    border-radius: 50%;
    text-indent: -22px;
    left: 2px;
    top: 2px;
    transition: 0.5s;
    height: 28px;
    width: 28px;
    white-space: nowrap;
    z-index: 2;
  }

  &:checked {
    background-color: $primary-dark-gray;
  }

  &:checked:before {
    left: 32px;
  }
}
