@import "../../../constants/constants";

@mixin toggle() {
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-flex;
  border-radius: 50px;
  cursor: pointer;
  margin: 0;

  &:before {
    background: $primary-red;
    content: "";
    display: inline-flex;
    position: relative;
    border-radius: 50%;
    left: 2px;
    top: 2px;
    height: 28px;
    width: 28px;
    white-space: nowrap;
    z-index: 2;
  }
}

.toggle-off {
  @include toggle();
  background-color: $primary-white;
}

.toggle-on {
  @include toggle();
  background-color: $primary-dark-gray;

  &:before {
    left: 32px;
  }
}
