@import "../../constants/constants";

#header {
  border-bottom: $red-border;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;

  .logo {
    cursor: pointer;
    text-decoration: none;

    .homepage-link {
      color: inherit;

      &:hover {
        color: $primary-red;
      }
    }
  }

  .logo-text {
    font-size: 3rem;

    @media (max-width: $max-width-change) {
      display: none;
    }
  }

  .logo-img {
    padding: 10px;
    height: 5rem;
    width: 5rem;
    transform: rotate(270deg);

    @media (max-width: $max-width-change) {
      display: none;
    }
  }
}

.dark-theme {
  @include dark-theme();
}

.light-theme {
  @include dark-theme();
}
