  .comment-list {
    align-items: center;
    border: solid #DA0037;
    border-radius: 20px;
    display: flex;
    margin: 50px 40px;
    line-height: 0;
    @media (max-width: 1200px) {
      flex-direction: column;
    }
  }

  .comment-preview {
    text-align: center;
    margin-top: 15px;
    width: 20%;
    @media (max-width: 1200px) {
      width: 100%;
    }
  }

  .comment-text {
    line-height: normal;
    align-items: center;
    margin: 10px 20px;
    @media (max-width: 1200px) {
      font-size: 1rem;
    }
  }

  .comment-photo {
    border-radius: 100%;
    border: #DA0037 4px solid;
    height: 150px;
    width: 150px;
    @media (max-width: 1200px) {
      border-radius: 25%;
      text-align: center;
      height: 200px;
      width: 200px;
    }
  }

  .comment-name {
    font-size: 1.2rem;
    margin: 0;

    &:hover {
      color: #DA0037;
    }
  }

  .left-aligned {
    background: #262323 linear-gradient(to right, #212121, #2c2c2c, #373737, #424242, #4e4e4e);
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    transition: transform 600ms ease-out;
    margin-left: 10%;
    &:hover {
      transform: translateX(-5%);
    }
    @media (max-width: 1200px) {
      flex-direction: column;
      text-align: center;
      margin-right: 15px;
      margin-left: 15px;
    }
  }

  .right-aligned {
    background: #262323 linear-gradient(to left, #212121, #2c2c2c, #373737, #424242, #4e4e4e);
    display: flex;
    text-align: right;
    transition: transform 600ms ease-out;
    margin-right: 10%;
    &:hover {
      transform: translateX(5%);
    }
    @media (max-width: 1200px) {
      text-align: center;
      margin-right: 15px;
      margin-left: 15px;
    }
  }

