@import "../../constants/constants";

@mixin big-red-button() {
  background: linear-gradient(180deg, $primary-red 30%, $primary-dark-red 100%);
  border-radius: 10px;
  border: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
  margin: 20px 30px;
  padding: 2vh 4vh;
  text-decoration: none;

  &:hover {
    background: $primary-dark-red linear-gradient(180deg, $primary-dark-red 10%, $primary-red 100%);
  }

  @media (max-width: $max-width-change) {
    font-size: 1rem;
    padding: 15px;
    margin: 10px;
  }
}

.big-red-btn {
  @include big-red-button();
}
