@import "../../constants/constants";

@mixin big-red-button {
  background: linear-gradient(180deg, $primary-red 30%, $primary-dark-red 100%);
  border-radius: 10px;
  color: inherit;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 20pt;
  margin: 20px 30px 20px 30px;
  padding: 20px 60px;
  text-decoration: none;

  &:hover {
    background: $primary-dark-red linear-gradient(180deg, $primary-dark-red 10%, $primary-red 100%);
  }

  @media (max-width: 1200px) {
    font-size: 1rem;
    padding: 15px;
    margin: 10px;
  }
}

.big-red-btn {
  @include big-red-button;
}
