.biography-ul,
.selected-biography-ul,
.selected-biography-ul-white,
.selected-biography-ul-green,
.selected-biography-ul-blue {
    border-radius: 30px;
    line-height: 0;
    margin: 1rem;
}


.biography-ul {
    background: #262323 linear-gradient(to right, #212121, #2c2c2c, #373737, #424242, #4e4e4e);
    border: solid #DA0037;
}

.selected-biography-ul,
.selected-biography-ul-white,
.selected-biography-ul-green,
.selected-biography-ul-blue {
    background: #262323 linear-gradient(to left, #212121, #2c2c2c, #373737, #424242, #4e4e4e);
    border: solid 5px #880022;
}

.selected-biography-ul-white {
    border-color: #EDEDED;
}

.selected-biography-ul-green {
    border-color: #008000;
}

.selected-biography-ul-blue {
    border-color: #000045;
}
