@import "../../../constants/constants";

.hamburger-btn {
  background-color: $primary-red;
  border-radius: 10px;
  border: 0;
  padding: 5px 10px;
  margin: 20px;

  &:hover {
    background-color: $primary-dark-red;
  }

  div {
    width: 6vh;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
}
