@import "../../../constants/constants";

.hamburger-btn {
  background-color: $primary-red;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  padding: 5px 10px;
  margin: 20px;

  &:hover {
    background-color: $primary-dark-red;
  }
}
