@import "../../../constants/constants";

.comment-list {
  align-items: center;
  border: solid $primary-red;
  border-radius: 20px;
  display: flex;
  line-height: 0;
  margin: 50px 40px;
  padding: 0 30px;

  @media (max-width: $max-width-change) {
    flex-direction: column;
    padding: 0;
  }
}

.comment-preview {
  text-align: center;
  margin-top: 15px;
  width: 20%;

  @media (max-width: $max-width-change) {
    width: 100%;
  }
}

.comment-text {
  line-height: normal;
  align-items: center;
  margin: 10px 20px;

  @media (max-width: $max-width-change) {
    font-size: 1rem;
  }
}

.comment-photo {
  border-radius: 100%;
  border: $primary-red 4px solid;
  height: 150px;
  width: 150px;

  @media (max-width: $max-width-change) {
    border-radius: 25%;
    text-align: center;
    height: 200px;
    width: 200px;
  }
}

.comment-name {
  font-size: 1.2rem;
  margin: 0;

  &:hover {
    color: $primary-red;
  }
}

.left-aligned {
  background: $primary-gradient-dark;
  display: flex;
  flex-direction: row-reverse;
  text-align: left;
  margin-left: 10%;

  @media (max-width: $max-width-change) {
    flex-direction: column;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
  }
}

.right-aligned {
  background: $primary-gradient-dark-reversed;
  display: flex;
  text-align: right;
  margin-right: 10%;

  @media (max-width: $max-width-change) {
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
  }
}

.light-theme-comment {
  @include light-theme-comment;
}
