@import "../../../constants/constants";

#comment-section {
  border-top: 10px solid $primary-red;
  border-bottom: 1px solid $primary-red;
  border-left: none;
  border-right: none;
  font-size: 1.5rem;
  padding-top: 3%;

  .section-title {
    font-family: $font-handwriting;

    &:hover {
      color: $primary-red;
    }
  }
}

.dark-theme-comments {
  @include dark-theme;
}

.light-theme-comments {
  @include light-theme;
}
