@import "../../../constants/constants";

.homepage-heading {
  font-size: 3rem;
  padding-top: 20px;

  @media (max-width: $max-width-change) {
    font-size: 2rem;
  }
}

.call-to-sign-up {
  color: $primary-red;
  text-decoration: none;
  line-height: 5rem;
  margin-top: 1rem;

  @media (max-width: $max-width-change) {
    font-size: 1.5rem;
    line-height: 40px;
  }
}

.main-text {
  font-size: 2rem;

  @media (max-width: $max-width-change) {
    font-size: 1.5rem;
  }
}

.homepage-light-theme {
  @include light-theme;
  @include light-theme-image;
}

.homepage-dark-theme {
  @include dark-theme;
  @include dark-theme-image;
}


