@import "../../../constants/constants";

.cart-btn {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  margin: 60% 25px 60% 0;
  height: 100%;

  &:hover {
    color: $primary-red;
  }
}
