@import "../../../constants/constants";

.cart-btn-wrapper {
  height: 100%;
}

.cart-btn {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  margin: 80% 10px 50% 0;

  &:hover {
    color: $primary-red;
  }
}
