@import "../../../constants/constants";

.cart-btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.cart-btn {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  margin: auto 10px auto 0;

  &:hover {
    color: $primary-red;
  }
}
