/* Default Fonts */

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Permanent+Marker&display=swap');

$font-sans-serif: 'Oswald', 'sans-serif';
$font-handwriting: 'Permanent Marker', 'cursive';

/* Number constants */

$max-width-change: 1024px;

/* Primary colors */

$primary-red: #DA0037;
$primary-dark-red: #880022;
$primary-white: #EDEDED;
$primary-dark-gray: #212121;
$primary-light-gray: #343434;

/* Primary gradient colors */

$primary-gradient-dark: #262323 linear-gradient(to right, #212121, #2c2c2c, #373737, #424242, #4e4e4e);
$primary-gradient-dark-reversed: linear-gradient(to left, #212121, #2c2c2c, #373737, #424242, #4e4e4e);
$primary-gradient-light-gray: linear-gradient(to left, #484848 30%, #505050 100%);
$primary-gradient-background-gray: linear-gradient(180deg, #3a3a3a 30%, #484848 100%);

/* Common styles */

@mixin boxer-background-image {
  background-repeat: no-repeat;
  background-size: auto;
  border-top: 1px solid $primary-red;
  padding-bottom: 15vh;

  @media (max-width: $max-width-change) {
    background-size: cover;
  }
}

/* Light theme mixins */

@mixin light-theme {
  background: $primary-gradient-background-gray;
  color: $primary-dark-gray;
}

@mixin light-theme-image {
  @include boxer-background-image;
  background-image: linear-gradient(rgba(224, 224, 224, 0.15), rgba(218, 218, 218, 0.1)),
  url(../images/background/boxer-background.jpg);
}

@mixin light-theme-comment {
  background: $primary-gradient-light-gray;
  color: $primary-dark-gray;
}

/* Dark theme mixins */

@mixin dark-theme {
  background: $primary-dark-gray;
  color: $primary-white;
}

@mixin dark-theme-image {
  background-image: url(../images/background/boxer-background.jpg);
  @include boxer-background-image;
}

/* Text input */

@mixin text-input() {
  background-color: $primary-white;
  border-radius: 20px;
  color: $primary-dark-red;
  font-family: $font-sans-serif;
  font-size: 2rem;
  text-align: center;
  width: 5rem;

  @media (max-width: $max-width-change) {
    font-size: 20px;
  }
}

/* Unordered lists */

@mixin default-ul() {
  border: solid $primary-red;
  border-radius: 30px;
  line-height: 0;
  margin: 1rem;
}

@mixin selected-ul($border-color) {
  background: $primary-gradient-dark-reversed;
  border: solid 5px $border-color;
}
