/* Default Fonts */

@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Permanent+Marker&display=swap");

$font-sans-serif: "Oswald", "cursive";
$font-handwriting: "Permanent Marker", "Oswald";

/* Number constants */

$max-width-change: 1024px;
$max-width-change-2: 768px;

/* Primary colors */

$primary-red: #da0037;
$primary-dark-red: #802;
$primary-white: #ededed;
$primary-dark-gray: #212121;
$primary-light-gray: #484848;

/* Primary gradient colors */

$primary-gradient-dark: #262323 linear-gradient(to right, #212121, #2c2c2c, #373737, #424242, #4e4e4e);
$primary-gradient-dark-reversed: linear-gradient(to left, #212121, #2c2c2c, #373737, #424242, #4e4e4e);
$primary-gradient-light-gray: linear-gradient(to left, #818181 30%, #6b6b6b 100%);
$primary-gradient-background-gray: linear-gradient(180deg, #3a3a3a 30%, #484848 100%);

/* Borders */

$red-border: solid 10px $primary-red;
$white-border: solid 10px $primary-white;
$dark-gray-border: solid 10px $primary-dark-gray;

/* Common styles */

@mixin boxer-background-image {
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px solid $primary-dark-gray;
  padding-bottom: 15vh;

  @media (max-width: $max-width-change) {
    background-size: cover;
  }
}

/* Light theme mixins */

@mixin light-theme {
  background: $primary-light-gray;
  color: black;
}

@mixin light-theme-image {
  @include boxer-background-image;

  background-image:
    linear-gradient(rgba(245 245 15%), rgba(235 235 10%)),
    url("../images/background/boxer-background.jpg");
  background-position: center;
}

@mixin light-theme-comment {
  background: $primary-gradient-light-gray;
  color: $primary-dark-gray;
}

/* Dark theme mixins */

@mixin dark-theme {
  background: $primary-dark-gray;
  color: $primary-white;
}

@mixin dark-theme-image {
  background-image: url("../images/background/boxer-background.jpg");
  background-position: center;

  @include boxer-background-image;
}

/* Text input */

@mixin text-input {
  background-color: $primary-white;
  border-radius: 20px;
  color: $primary-dark-red;
  font-family: $font-sans-serif;
  font-size: 2rem;
  text-align: center;
  width: 5rem;

  @media (max-width: $max-width-change) {
    font-size: 20px;
  }
}

/* Unordered lists */

@mixin default-ul {
  border: solid $primary-red;
  border-radius: 30px;
  line-height: 0;
  margin: 1rem;
}

@mixin selected-ul($border-color) {
  background: $primary-gradient-dark-reversed;
  border: solid 5px $border-color;
}
