@import "../../constants/constants";

@mixin side-bar() {
  border-top: $red-border;
  border-right: $red-border;
  border-bottom: $red-border;
  border-bottom-right-radius: 40px;
  position: absolute;
  width: 25%;
  height: fit-content;
  margin: 0;
  left: 0;
  z-index: 5;

  .page-link {
    text-decoration: none;

    li {
      background-color: $primary-red;
      color: $primary-white;
      border-radius: 20px;
      margin-left: auto;
      margin-right: auto;
      width: 75%;

      &:hover {
        background-color: $primary-dark-gray;
      }
    }
  }
}

.side-bar-wrapper {
  display: inline-block;
}

.side-bar-visible {
  @include side-bar();
}

.side-bar-hidden {
  @include side-bar();
  visibility: hidden;
}

.dark-theme {
  @include dark-theme();
}

.light-theme {
  @include dark-theme();
}
