@import "../../constants/constants";

.nav-bar {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 2%;
  height: 100%;
  z-index: 5;

  .cart-btn {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    margin-right: 25px;
    padding: 0;
    height: 100%;

    &:hover {
      color: $primary-red;
    }
  }

  .cart-list {
    color: inherit;
    border-top: $red-border;
    border-left: $red-border;
    border-bottom: $red-border;
    border-bottom-left-radius: 40px;
    position: absolute;
    width: 25%;
    height: fit-content;
    margin: 0;
    right: 0;
    z-index: 5;

    .cart-list-item {
      border-top: 2px solid $primary-red;
      border-bottom: 2px solid $primary-red;
      font-size: 1.5rem;
      margin: 10px;
    }
  }

  .cart-list-hidden {
    display: none;
  }
}

.dark-theme {
  @include dark-theme();
}

.light-theme {
  @include dark-theme();
}
