@import "../../constants/constants";

.nav-bar {
  display: flex;
  margin: 0 2%;
  align-items: center;
  z-index: 5;
}

.dark-theme {
  @include dark-theme;
}

.light-theme {
  @include dark-theme;
}
