@import "../../constants/constants";

.nav-bar {
  margin: auto 2%;

  .nav-link {
    color: $primary-white;
    font-size: 2rem;
    margin: 0 2vh;
    cursor: pointer;

    &:hover {
      color: $primary-red;
    }

    @media (max-width: $max-width-change) {
      font-size: 1.2rem;
    }
  }
}
