@import "../../../constants/constants";

.price-section {
  border: $red-border;
  border-radius: 30px;
  margin-top: 2rem;
  width: 100%;
}

.crossed-text {
  color: $primary-red;
}

.discount-price {
  font-size: 2rem;
}
