@import "../../../constants/constants";

.photo-wrapper {
  background-color: white;
  border: $red-border;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 350px;

  @media (max-width: $max-width-change) {
    height: fit-content;
  }

  .item-photo {
    height: 300px;

    @media (max-width: $max-width-change) {
      height: 150px;
    }
  }
}
