@import "../../../constants/constants";

.card-wrapper {
  border-radius: 40px;
  border: $red-border;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 2% 0;
  width: 30%;

  @media (max-width: $max-width-change) {
    width: 40%;
  }
  
  @media (max-width: $max-width-change-2) {
    width: 90%;
  }
}

.dark-theme {
  @include dark-theme();
}

.light-theme {
  @include light-theme();
}
