@import "../../../constants/constants";

.boxer-photo {
  border: solid 4px $primary-red;
  border-radius: 50%;
  display: inline-block;
  margin: 15px 10px 10px;
  width: 70%;

  @media (max-width: $max-width-change) {
    border: solid 2px;
    width: 80%;
  }
}
