@import "../../../constants/constants";

.biography-li {
    color: $primary-red;
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
    width: 20%;

    .biography-text-input {
        background-color: $primary-white;
        border-radius: 20px;
        color: $primary-dark-red;
        font-family: $font-sans-serif;
        font-size: 2rem;
        text-align: center;
        width: 5rem;

        @media (max-width: $max-width-change) {
            font-size: 20px;
            width: 3rem;
        }
    }
}
