.biography-li {
    color: #DA0037;
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
    width: 20%;
}

.biography-text-input {
    background-color: #EDEDED;
    border-radius: 20px;
    color: #880022;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    text-align: center;
    width: 5rem;

    @media (max-width: 1200px) {
        font-size: 20px;
        width: 3rem;
    }
}
