@import "../../../constants/constants";

.biography-li {
  color: $primary-red;
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  width: 20%;

  @media (max-width: $max-width-change) {
    font-size: 22px;
    width: 25%;
  }
}

.belt {
  @media (max-width: $max-width-change) {
    display: none;
  }
}
