.boxer-photo {
    border: solid 4px #DA0037;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
    text-align: center;
    vertical-align: auto;
    width: 70%;
}

.biography-li {
    color: #DA0037;
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
    width: 20%;
}


@media (max-width: 1200px) {
    .belt {
        display: none;
    }

    .biography-li {
        font-size: 22px;
        width: 25%;
    }

    .boxer-photo {
        border: solid 2px;
        width: 60%;
    }
}