body {
    background-color: #191919;
    background-image: url(images/boxer-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #EDEDED;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

/* Sections */

header {
    padding-top: 2rem;
}

#main-text {
    margin: 3% 0;
}

footer {
    float: right;
    margin: 2rem 5% 2rem 0;
}

/* Headings */

h1 {
    display: inline-block;
    font-family: 'Permanent Marker', sans-serif;
    font-size: 7rem;
    margin: 0;
}

h2 {
    font-size: 3rem;
    padding-top: 20px;
}

/*Other tags*/

p {
    font-size: 2rem;
    line-height: 20px;
}

li {
    line-height: 3rem;
    list-style-type: none;
}

/* Classes */

.call-to-sign-up {
    line-height: 7rem;
}

h1:hover,
.call-to-sign-up,
.boxer-link,
.link-icon {
    color: #DA0037;
    text-decoration: none;
}

.boxer-link:hover,
.link-icon:hover {
    color: #880022;
}

/* Button */

.big-red-btn {
    background: #DA0037 linear-gradient(180deg, #DA0037 30%, #880022 100%);
    border-radius: 10px;
    color: #EDEDED;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-size: 20pt;
    margin: 20px 30px 20px 30px;
    padding: 20px 60px;
    text-decoration: none;
}

.big-red-btn:hover {
    background: #880022 linear-gradient(180deg, #880022 10%, #DA0037 100%);
}

/* Font Awesome icons */

.link-icon {
    margin: 0 5px;
}

/* Resize */

@media (max-width: 1200px) {
    p {
        line-height: normal;
    }
}

/* Biography */

.boxer-list {
    border: solid 4px #DA0037;
}

.biography-li {
    color: #DA0037;
    display: inline-block;
    font-size: 2rem;
    width: 20%;
    text-align: center;
    vertical-align: middle;
}

.biography-ul {
    background: #262323 linear-gradient(to right, #212121, #2c2c2c, #373737, #424242, #4e4e4e);
    border: solid #DA0037;
}