body {
    background-color: #191919;
    background-image: url(images/background/boxer-background.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    color: #EDEDED;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: 0;
}

/* Headings */

h1 {
    display: inline-block;
    font-family: 'Permanent Marker', sans-serif;
    font-size: 7rem;
    margin: 0;
}

h2 {
    font-size: 3rem;
    padding-top: 20px;
}

/*Other tags*/

p {
    font-size: 2rem;
    line-height: 20px;
}

li {
    line-height: 3rem;
    list-style-type: none;
}

h1:hover {
    color: #DA0037;
    text-decoration: none;
}

/* Resize */

@media (max-width: 1200px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        display: none;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 20px;
        line-height: normal;
        margin: 0;
    }

    ul {
        padding: 0;
    }
}