body {
    background-color: #191919;
    background-image: url(../images/boxer-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #EDEDED;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

/* Sections */

header {
    padding-top: 2rem;
}

#main-text {
    margin: 3% 0;
}

footer {
    float: right;
    margin: 2rem 5% 2rem 0;
}

/* Headings */

h1 {
    display: inline-block;
    font-family: 'Permanent Marker', sans-serif;
    font-size: 7rem;
    margin: 0;
}

h2 {
    font-size: 3rem;
    padding-top: 20px;
}

p {
    font-size: 2rem;
    line-height: 20px;
}

/* Classes */

.call-for-sign-up {
    line-height: 7rem;
}

h1:hover,
.call-for-sign-up,
.boxer-link,
.link-icon {
    color: #DA0037;
    text-decoration: none;
}


.boxer-link:hover,
.link-icon:hover {
    color: #880022;
}

/* Button */

.sign-up-btn {
    background: linear-gradient(180deg, #DA0037 30%, #880022 100%);
    background-color: #DA0037;
    border-radius: 10px;
    color: #EDEDED;
    font-size: 20pt;
    padding: 20px 60px;
    text-decoration: none;
}

.sign-up-btn:hover {
    background: linear-gradient(180deg, #880022 10%, #DA0037 100%);
    background-color: #880022;
}

/* Font Awesome icons */

.link-icon {
    margin: 0 5px;
}

/* Resize */

@media (max-width: 1200px) {
    p {
        line-height: normal;
    }
}