@import "constants/constants";

body {
  background: $primary-light-gray;
  color: $primary-white;
  font-family: $font-sans-serif;
  text-align: center;
  margin: 0;
}

h1 {
  display: inline-block;
  font-family: $font-handwriting;
  font-size: 3rem;
  margin: 0;

  &:hover {
    color: $primary-red;
    text-decoration: none;
  }
}


h3 {
  @media (max-width: $max-width-change) {
    font-size: 1rem;
  }
}

p {
  font-size: 2rem;
  line-height: 20px;

  @media (max-width: $max-width-change) {
    font-size: 1.25rem;
    line-height: normal;
    margin: 0;
  }
}

ul {
    @media (max-width: $max-width-change) {
        padding: 0;
    }
}

li {
  line-height: 3rem;
  list-style-type: none;
}
