@import "src/constants/constants";

body {
  background: $BACKGROUND_DARK_LINEAR_GRADIENT_COLOR;
  color: $WHITE_COLOR;
  font-family: $SANS_SERIF_FONT;
  text-align: center;
  margin: 0;
}

h1 {
  display: inline-block;
  font-family: $HANDWRITING_FONT;
  font-size: 3rem;
  margin: 0;

  &:hover {
    color: $RED_COLOR;
    text-decoration: none;
  }
}


h3 {
  @media (max-width: 1200px) {
    font-size: 1rem;
  }
}

p {
  font-size: 2rem;
  line-height: 20px;

  @media (max-width: 1200px) {
    font-size: 1.25rem;
    line-height: normal;
    margin: 0;
  }
}

ul {
    @media (max-width: 1200px) {
        padding: 0;
    }
}

li {
  line-height: 3rem;
  list-style-type: none;
}
