body {
    background: #454545 linear-gradient(180deg, #222222 30%, #242424 100%);
    color: #EDEDED;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: 0;
}

/* Headings */

h1 {
    display: inline-block;
    font-family: 'Permanent Marker', sans-serif;
    font-size: 3rem;
    margin: 0;

    &:hover {
        color: #DA0037;
        text-decoration: none;
    }
}

/*Other tags*/

p {
    font-size: 2rem;
    line-height: 20px;
}

li {
    line-height: 3rem;
    list-style-type: none;
}

/* Resize */

@media (max-width: 1200px) {
    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 20px;
        line-height: normal;
        margin: 0;
    }

    ul {
        padding: 0;
    }
}
