@import "../../constants/constants";

#footer-section {
    background: $primary-light-gray;
    padding: 40px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;

    @media (max-width: $max-width-change) {
        align-items: center;
    }

    .footer-info-menu {
        display: flex;
        flex-flow: column;
        justify-content: flex-end;

        @media (max-width: $max-width-change) {
            justify-content: center;
        }

        .footer-text {
            margin-top: 0;
            padding-top: 10px;
        }

    }
}
